/* rows */
.grid-row {
  display: flex;
}

.grid-row.with-gutters {
  margin: 0 -1rem;
}

.grid-row .grid-col {
  padding: 0 1rem;
  margin-bottom: 2rem;
}

/* columns */
.grid-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

/* mobile grid */
.grid-mobile {
  flex-direction: column;
}

@media (min-width: 50rem) {
  .grid-mobile {
    flex-direction: row;
  }
}

/* row mods */
.row-top {
  align-items: flex-start;
}

.row-bottom {
  align-items: flex-end;
}

.row-middle {
  align-items: center;
}

/* column mods */
.col-one-third {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333%;
}

.col-two-thirds {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 66.6667%;
}

.col-one-fourth {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.col-one-half {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.col-three-fourths {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
}

.col-top {
  align-self: flex-start;
}

.col-bottom {
  align-self: flex-end;
}

.col-middle {
  align-self: center;
}
